$size: 100px;
$extra-days: (29,30,31);

$days-margins-left:
  "mon" 0,
  "tue" 101px,
  "wed" 202px,
  "thu" 303px,
  "fri" 404px,
  "sat" 505px,
  "sun" 606px;

 
@each $day, $margin in $days-margins-left {
  .calendar-#{$day}:first-child {
    div:first-child {
      margin-left: $margin;
    }
  }
}

@for $i from 1 through 31 {
  .calendar div:nth-child(#{$i}) {
    &::after {
      content: "#{$i}";
    }
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 30px;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 23em;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  max-width: 706px;

  div {
    position: relative;
    top: 0;
    height: $size;
    width: $size;
    border: 1px solid black;
    transition: all ease 0.5s;

    &:hover {
      cursor: pointer;
      top: -20px;
      background-color: pink;
    }

    &::after {
      display: flex;
      justify-content: center;
      line-height: 100px;
    }
  }

  @for $i from 1 through 31 {
    .calendar div:nth-child(#{$i})::after {
      display: none;
      content: "#{$i}";
    }
  }
}
